@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

html,
body,
#app {
  height: 100%;
}

div,
input {
  font-family: 'Montserrat', sans-serif;
}

div {
  @apply text-cornflower-blue-900;
}

input:focus {
  outline: none;
}

.ft-montserrat-600 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.hw-new-card {
  display: flex;
  height: 200px;
  width: 200px;
  border-radius: 26px;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  transition: 0.5s;
}

.hw-note-card {
  height: 200px;
  width: 200px;
  border-radius: 26px;
  transition: 0.5s;
}

.hw-note-card .text {
  vertical-align: middle;
  display: flex;
  align-items: center;
  align-content: center;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  width: 50%;
  min-width: 70%;
  padding: 16px;
  overflow: auto;
  background-color: #fff;
  border-radius: 1rem;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin: 8px 8px 0 0;
  cursor: pointer;
}
.modal-close::hover {
  color: gray;
}

.markdown-body {
  box-sizing: inherit;
  -webkit-text-size-adjust: 100%;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 0;
  padding: 1rem;
  min-height: 200px;
  max-height: 400px;
  background-color: rgba(255, 255, 255, 1);
  overflow: auto;
}
