@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

html,
body,
#app {
  background-color: #fff;
}

input:focus {
  outline: none;
}

.ft-montserrat-600 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.hw-new-card {
  display: flex;
  height: 200px;
  width: 200px;
  border-radius: 26px;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  transition: 0.5s;
}

.hw-note-card {
  min-height: 200px;
  min-width: 200px;
  max-height: 400px;
  max-width: 400px;
  border-radius: 26px;
  transition: 0.5s;
}

.hw-note-card .text {
  vertical-align: middle;
  display: flex;
  align-items: center;
  align-content: center;
}
